# Analysis
    -School size has a large impact on math and reading scores.  Only 58% of students at Large schools (more than 5000 students) passed both reading and math, compared to roughly 90% of small and medium size schools
    
    -Interestingly, having a higher budget per student does not increase the likelihood that they will pass reading and math.  Only 54% of students at schools that spend more than 645 dollars passed both math and reading, compared to 90% of students at schools that spend less than 585.  However, given that the buckets for spend are group closely together, I would use caution coming to the conclusion that investing in students does not yield results.

In [135]:
#Pull in dependencies and set path for reading files
import pandas as pd
school_path = 'Resources/schools_complete.csv'
student_path = 'Resources/students_complete.csv'

In [136]:
#read in csv file and store in dataframe
student_data = pd.read_csv(student_path)
school_data = pd.read_csv(school_path)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [137]:
#merge the two csv files into a single dataframe
school_complete= pd.merge(student_data,school_data,how='left',on=['school_name','school_name'])
school_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [138]:
#find the number of schools
school_count = len(school_complete['school_name'].unique())
school_count

15

In [139]:
#find the number of students
total_students = school_complete['Student ID'].count()
total_students

39170

In [140]:
#find the total budget across all schools
total_budget = school_data['budget'].sum()
total_budget

24649428

In [141]:
#find the average_math_score
average_math_score = school_complete['math_score'].mean()
average_math_score

78.98537145774827

In [32]:
#find the average reading score
average_reading_score = school_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [142]:
#create variable that filters for passing math scores - greater than 70
passing_math = school_complete.loc[(school_complete['math_score'] >= 70),:]
percent_passing_math = (passing_math['Student ID'].count() / total_students) *100
percent_passing_math

74.9808526933878

In [143]:
#create variable that filters for passing reading scores - greater than 70
passing_reading = school_complete.loc[(school_complete['reading_score'] >= 70),:]
percent_passing_reading = (passing_reading['Student ID'].count() / total_students) *100
percent_passing_reading

85.80546336482001

In [144]:
#create variable that filters for those who passed both math and reading
passing_both = school_complete.loc[(school_complete['reading_score'] >= 70) &
                                   (school_complete['math_score'] >= 70)
                                   ,:]
percent_passing_both = (passing_both['Student ID'].count() / total_students) *100
percent_passing_both

65.17232575950983

In [145]:
#create a summary dataframe for the previous calculations
district_summary = pd.DataFrame({'Total Schools': [school_count],'Total Students': [total_students],'Total Budget': [total_budget],'Average Math Score':[average_math_score],'Average Reading Score': [average_reading_score],
                                '% Passing Math': [percent_passing_math],'% Passing Reading':[percent_passing_reading],'% Passing Overall':[percent_passing_both]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [146]:
#select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [147]:
#find how many students attend each school
students_per_school = school_complete['school_name'].value_counts()
students_per_school.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [148]:
#find the per school budget
per_school_budget = school_complete.groupby(['school_name']).mean()['budget']
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [149]:
#find the budget per student
per_school_capita = per_school_budget / students_per_school
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [150]:
#find the average math schore by school
per_school_math = school_complete.groupby(['school_name']).mean()['math_score']
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [151]:
#find the average reading score by school
per_school_reading = school_complete.groupby(['school_name']).mean()['reading_score']
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [152]:
#create a list of students with passing scores
passing_math_list = school_complete.loc[(school_complete['math_score'] >= 70),:]
passing_reading_list = school_complete.loc[(school_complete['reading_score'] >= 70),:]
passing_both_list = school_complete.loc[(school_complete['math_score'] >= 70) &
                                         (school_complete['reading_score'] >= 70) ,:]

In [153]:
#find the percent of students who passed by diving the above by total students at each school
percent_passing_math = passing_math_list.groupby('school_name').count()['student_name'] / students_per_school *100
percent_passing_reading = passing_reading_list.groupby('school_name').count()['student_name'] / students_per_school *100
percent_passing_both = passing_both_list.groupby('school_name').count()['student_name'] / students_per_school *100
percent_passing_both

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [165]:
#create a summary dataframe of the above calculations and change the formats of the spend columns
per_school_summary = pd.DataFrame({'School Type':school_types,'Total Students':students_per_school,'Total School Budget':per_school_budget,'Budget per Student':per_school_capita,'Average Math Score':per_school_math,'Average Reading Score':per_school_reading,'Percent Passing Math':percent_passing_math,'Percent Passing Reading':percent_passing_reading,'Percent Passing Both':percent_passing_both})
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Budget per Student"] = per_school_summary["Budget per Student"].map("${:,.2f}".format)
per_school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [154]:
#sort the top 5 schools based on percent who passed both math and reading
top_schools = per_school_summary.sort_values(['Percent Passing Both'],ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both,Spending Ranges per Student,Student Size Ranges
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000)

## Lowest-Performing Schools (by % Overall Passing)

In [155]:
#sort the bottom 5 schools based on percent who passed both
bottom_schools = per_school_summary.sort_values(['Percent Passing Both'],ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both,Spending Ranges per Student,Student Size Ranges
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)

## Math Scores by Grade

In [156]:
#scores by grade
ninth_grade = school_complete.loc[(school_complete['grade'] == '9th')]
tenth_grade = school_complete.loc[(school_complete['grade'] == '10th')]
eleventh_grade = school_complete.loc[(school_complete['grade'] == '11th')]
twelfth_grade = school_complete.loc[(school_complete['grade'] == '12th')]

In [157]:
#group the mean math scores for each grade by school
ninth_graders_math = ninth_grade.groupby(['school_name']).mean()['math_score']
tenth_graders_math = tenth_grade.groupby(['school_name']).mean()['math_score']
eleventh_graders_math = eleventh_grade.groupby(['school_name']).mean()['math_score']
twelfth_graders_math = twelfth_grade.groupby(['school_name']).mean()['math_score']
ninth_graders_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [158]:
#create a dataframe that summarize the mean math scores by grade
math_scores_by_grade = pd.DataFrame({'9th grade':ninth_graders_math,'10th grade':tenth_graders_math,'11th grade': eleventh_graders_math, '12th grade':twelfth_graders_math})
math_scores_by_grade.index.name = None
math_scores_by_grade

                       9th grade  10th grade  11th grade  12th grade
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Scores by Grade

In [159]:
#group the mean reading scores for each grade by school
ninth_graders_reading = ninth_grade.groupby(['school_name']).mean()['reading_score']
tenth_graders_reading = tenth_grade.groupby(['school_name']).mean()['reading_score']
eleventh_graders_reading = eleventh_grade.groupby(['school_name']).mean()['reading_score']
twelfth_graders_reading = twelfth_grade.groupby(['school_name']).mean()['reading_score']

In [160]:
#create a dataframe that summarizes the mean reading scores by grade
reading_scores_by_grade = pd.DataFrame({'9th grade':ninth_graders_reading,'10th grade':tenth_graders_reading,'11th grade': eleventh_graders_reading, '12th grade':twelfth_graders_reading})
reading_scores_by_grade.index.name = None
reading_scores_by_grade

                       9th grade  10th grade  11th grade  12th grade
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spend

In [161]:
#create bins and labels based on per student spend
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [166]:
#convert budget per student back to flot
per_school_summary['Budget per Student']=per_school_summary['Budget per Student'].str.replace('$','',regex=True)
per_school_summary['Budget per Student']=per_school_summary['Budget per Student'].astype('float64')
per_school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [167]:
#put the budget per student into the assigned bins
summary_by_spend = pd.cut(per_school_summary['Budget per Student'],spending_bins,labels=labels)
per_school_summary['Spending Ranges per Student']=summary_by_spend
per_school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both,Spending Ranges per Student
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [168]:
#group mean scores and percent passing by the new bins
spending_math_scores = per_school_summary.groupby(["Spending Ranges per Student"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary.groupby(["Spending Ranges per Student"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary.groupby(["Spending Ranges per Student"]).mean()["Percent Passing Math"]
spending_passing_reading = per_school_summary.groupby(["Spending Ranges per Student"]).mean()["Percent Passing Reading"]
overall_passing_spending = per_school_summary.groupby(["Spending Ranges per Student"]).mean()["Percent Passing Both"]

In [169]:
#create dataframe to show average scores by bins
spending_summary = pd.DataFrame({'Average Math Score':spending_math_scores,'Average Reading Score':spending_reading_scores,'% Passing Math':spending_passing_math,'% Passing Reading':spending_passing_reading,'% Passing Both':overall_passing_spending})
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
Spending Ranges per Student,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [172]:
#create bins and labels for school size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [173]:
#put total students into the assigned bins
by_total_students = pd.cut(per_school_summary['Total Students'],size_bins,labels=labels)
per_school_summary['Student Size Ranges'] = by_total_students
per_school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Both,Spending Ranges per Student,Student Size Ranges
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium (1000-2000)

In [174]:
#group mean scores and percent passing by the size bins
size_math_scores = per_school_summary.groupby(["Student Size Ranges"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["Student Size Ranges"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["Student Size Ranges"]).mean()["Percent Passing Math"]
size_passing_reading = per_school_summary.groupby(["Student Size Ranges"]).mean()["Percent Passing Reading"]
overall_passing_spending_size = per_school_summary.groupby(["Student Size Ranges"]).mean()["Percent Passing Both"]

In [175]:
#create dataframe to show mean scores and percent passing by school size
size_summary = pd.DataFrame({'Average Math Score':size_math_scores,'Average Reading Score':size_reading_scores,'% Passing Math':size_passing_math,'% Passing Reading':size_passing_reading,'% Passing Both':overall_passing_spending_size})
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
Student Size Ranges,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [176]:
#group mean scores and percent passing by school type
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["Percent Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["Percent Passing Reading"]
overall_passing_spending_type = per_school_summary.groupby(["School Type"]).mean()["Percent Passing Both"]

In [177]:
#create new dataframe showing scores by school type
type_summary = pd.DataFrame({'Average Math Score':type_math_scores,'Average Reading Score':type_reading_scores,'% Passing Math':type_passing_math,'% Passing Reading':type_passing_reading,'% Passing Both':overall_passing_spending_type})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208